<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Bulk WhatsApp Messages</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Send Bulk WhatsApp Messages</h1>
    </header>
    <main>
        <section class="instructions">
            <h2><strong>Instructions</strong></h2>
            <ul>
                <li>Enter numbers (with country code, without + sign, separated by commas) like: 911234567890</li>
                <li>Enter your message to send</li>
                <li>Click on the "Send" button</li>
                <li>After clicking "Send," scan the visible QR code using WhatsApp Web from your mobile app</li>
            </ul>
        </section>
        <section class="form-container">
            <h2>Enter Numbers and Message</h2>
            <form id="numberForm" action="/send" method="POST">
                <div class="input-container">
                    <label for="numbers">Enter Numbers</label>
                    <input type="text" name="numbers" id="numbers" required>
                </div>
                <div class="input-container">
                    <label for="message">Enter Message</label>
                    <input type="text" name="message" id="message" required>
                </div>
                <button type="submit">Send Messages</button>
            </form>
        </section>
    </main>

    <script src="/js/main.js"></script>
</body>
</html>
